{% extends "base.html" %}

{%- block extrahead %}
<link rel="stylesheet" href="https://static.opensuse.org/chameleon-3.0/dist/css/chameleon.css">


{% endblock %}

{%- block site_name %}
<a class="navbar-brand" href="{{ nav.homepage.url|url }}">
  {% if config.site_name.startswith('openSUSE ') %}
  <img src="https://static.opensuse.org/favicon.svg" class="d-inline-block align-top" alt="openSUSE" title="openSUSE" width="30" height="30">
  <span class="navbar-title">{{ config.site_name[9:] }}</span>
  {% else %}
  <span class="navbar-title">{{ config.site_name }}</span>
  {% endif %}
</a>
{% endblock %}

{%- block site_nav %}
  {%- if nav|length>1 %}
      <ul class="nav navbar-nav d-lg-none">
      {%- for nav_item in nav %}
      {%- if nav_item.children %}
          <li class="dropdown{% if nav_item.active %} active{% endif %}">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
              {%- for nav_item in nav_item.children %}
                  {% include "nav-sub.html" %}
              {%- endfor %}
              </ul>
          </li>
      {%- else %}
          <li class="navitem{% if nav_item.active %} active{% endif %}">
              <a href="{{ nav_item.url|url }}" class="nav-link">{{ nav_item.title }}</a>
          </li>
      {%- endif %}
      {%- endfor %}
      </ul>
  {%- endif %}
{%- endblock %}

{%- block content %}
<div class="col-lg-3 col-xl-2 d-none d-lg-block sidebar border-right">{% include "sidebar.html" %}</div>
<div class="col-lg-6 col-xl-8" role="main">
    <div class="container">{% include "content.html" %}</div>
</div>
<div class="col-lg-3 col-xl-2 d-none d-lg-block sidebar border-left">{% include "toc.html" %}</div>
{%- endblock %}

{%- block footer %}
<footer class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      {% if config.copyright %}
      <div class="footer-copyright">
        © 2011–2020 openSUSE contributors
      </div>
      {% endif %}
      <div class="list-inline">
        {%- for link in config.footer_links %}
        <a class="list-inline-item" href="{{ link.link }}">{{ link.text }}</a>
        {%- endfor %}
      </div>
    </div>
  </div>
</footer>
{%- endblock %}
